@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mycard { 
  height: 140px ;
  width: 300px;
  border: 1px solid #000; 
  border-radius: 10px;/* Warna border hitam (ganti dengan warna yang Anda inginkan) */
  padding: 10px; /* Padding untuk konten dalam card */
  line-height: 1.1;
 }

@media print {
  .mycard {
   height: 2cm !important;
   width: 5cm !important;
   font-size: 11px !important;
   border-radius: 0px !important;
   border: 1px solid #000 !important;  /* Warna border hitam (ganti dengan warna yang Anda inginkan) */
   padding: 5px !important; /* Padding untuk konten dalam card */
   line-height: 1.1 !important;
  }
 }


